
.main-content[id='panel'] > body{
  background-color: #f8f9fe;
}

.main-content{
    max-width: 1920px;
    position: relative;
    overflow-X: hidden;
}

.main-content[id='panel'] .header{
    z-index: 0;
    padding-top: 80px;
    margin-top: -80px;
}

.main-content[id='panel'] .navbar-top{
  z-index: 1;
}

.header{
    z-index: 0;
    margin-top: 0px;
}


 #sidenav-main.show ~ .sidenav-toggler{
    position: absolute;
    top: 50px;
    left: 327px;
    z-index: 999;
}

 .btnsidenav.show{
    position: absolute;
    top: 50px;
    left: 327px;
    z-index: 999;
}

 .btnsidenav.show ~ .btnsidenav .sidenav-toggler-inner{
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%,-50%);
}

.sidenav{
    height: 100%;
    position: fixed !important;
    width: 240px;
}
 .scrollbar-inner{
    width: 100%;
}



.sidenav{
    margin-left: -300px;
}

.sidenav.show{
    margin-left: 0px;
}

.main-content[id='panel']{
    margin-left: 0;
}

.sidenav.show ~ .main-content[id='panel']{
    margin-left: 240px ;
}

@media (max-width: 1199.98px){
.sidenav{
    transform: translateX(0px);
}
}

@media(min-width: 1600px){
    
    .sidenav{
        margin-left: -0px;
    }
    .main-content[id='panel']{
        margin-left: 240px;
    }

    .sidenav.show{
        margin-left: -280px;
    }

    .sidenav.show ~ .main-content[id='panel']{
        margin-left: 0px ;
    }

}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


  @media (min-width:1000px){

  .table-responsive{
    overflow: unset;
  }
}




/* LOGINNNNNNNNNNNNNNNNNNNNNNNNN FORMMMMMM NEWW */

* Login Form */


.login_form {
    width: 100%;
    height: 100%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  
  .login__form {
    background: #fff;
    color: #333;
    font-family: "Open Sans", sans-serif;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  
  .login__form .login__header {
    padding-top: 30px;
    text-align: center;
    margin-bottom: 60px; }
  
  .login__form .login__header .login__title {
    font-size: 24px;
    font-weight: 400; }
  
  .login__form .login__main {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto; }
  
  .login__form .login__main .login__group {
    position: relative; }
  
  .login__form .login__main .login__group .login__input {
    margin-top: 50px;
    padding: 10px 10px 10px 5px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    font-size: 16px;
    display: block;
    border: none;
    border-bottom: 1px solid #d0dce7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  .login__form .login__main .login__group .login__input:focus {
    outline: none; }
  
  .login__form .login__main .login__group .login__input:focus ~ label,
  .login__form .login__main .login__group .login__input:valid ~ label {
    top: -20px;
    font-size: 12px;
    text-transform: uppercase; }
  
  .login__form .login__main .login__group .login__label {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    -webkit-transition: .2s ease all;
    transition: .2s ease all; }
  
  .login__form .login__main .login__terms {
    font-size: 14px;
    color: #a8b8c4;
    margin: 40px auto;
    line-height: 19px; }
  
  .login__form .login__main .login__terms a {
    text-decoration: none;
    color: #007ee5; }
  
  .login__form .login__button {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    background: #007ee5;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 45px;
    font-size: 14px;
    bottom: 0;
    position: relative; }
  
  .login__button:hover {
    cursor: pointer; }
  
  .login__bar {
    position: relative;
    display: block; }
  
  .login__bar:before,
  .login__bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #007ee5;
    transition: .2s ease all;
    -moz-transition: .2s ease all;
    -webkit-transition: .2s ease all; }
  
  .login__bar:before {
    left: 50%; }
  
  .login__bar:after {
    right: 50%; }
  
  input:focus ~ .login__bar:before,
  input:focus ~ .login__bar:after {
    width: 50%; }
  
  @media (min-width: 620px) {
    .login_form {
      background: url("http://i.imgur.com/80l7nXr.jpg") no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .login__form {
      max-width: 400px;
      height: 470px;
      margin-left: auto;
      margin-right: auto; }
    .login__title {
      position: relative; }
    .login__footer {
      text-align: center; }
    .login__footer .login__button {
      bottom: initial;
      position: initial;
      width: 320px; } }
  
  .line {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin: 19px 5px 0px 0px; }
  
  .load-3 .line:nth-last-child(1) {
    animation: loadingC 1s .1s ease-in-out infinite; }
  
  .load-3 .line:nth-last-child(2) {
    animation: loadingC 1s .2s ease-in-out infinite; }
  
  .load-3 .line:nth-last-child(3) {
    animation: loadingC 1s .4s ease-in-out infinite; }
  
  @keyframes loadingC {
    0 {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, -15px); }
    100% {
      transform: translate(0, 0); } }
  



.alert.alert-success{
    position: absolute;
    z-index: 9999;
    bottom: 5%;
    right: 2%;
    transform: translateX(-50%);
}



  /* BCKP */

  /* @media (max-width: 1000px){
    #sidenav-main {
        opacity: 1;
        display: flex;
        margin-left: 0px;
    }
    
    #sidenav-main.show ~ .main-content,
        #sidenav-main.show ~ .navbar-top{
             margin-left: 240px !important; 
        }
    .navbar-top{
        margin-left: 0px;
    }

    .main-content{
        margin-left: 0px;
    }
    #sidenav-main.show{

        margin-left: 240px !important;

    } 

    .scrollbar-inner{
        width: 100%;
    }

} 



@media (min-width: 1740px){
    #sidenav-main {
        opacity: 1;
        display: flex;
        position: absolute;
    }
    #sidenav-main.show ~ .main-content{
            margin-left: 0px; 
        }

     #sidenav-main.show ~ 

    .navbar-top{
        margin-left: 0px;
    }

    .main-content{
        margin-left: 240px;
    }

    #sidenav-main.show{

        left: -300px;

    } 




}  


#sidenav-main{
    position: fixed;
    left: 0px;
}


 #sidenav-main.show ~ .main-content,
 #sidenav-main.show ~ .navbar-top{
    margin-left: 0 !important;
}





*/