.main-content{
    max-width: 1920px;
    position: relative;
    overflow-X: hidden;
}

.header{
    z-index: -1;
    padding-top: 80px;
    margin-top: -80px;
}


#sidenav-main.show ~ .sidenav-toggler{
    position: absolute;
    top: 50px;
    left: 327px;
    z-index: 999;
}

.btnsidenav.show{
    position: absolute;
    top: 50px;
    left: 327px;
    z-index: 999;
}

.btnsidenav.show ~ .btnsidenav .sidenav-toggler-inner{
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translate(-50%,-50%);
}

.sidenav{
    height: 100%;
    position: fixed !important;
    width: 240px;
}

#sidenav-main{
    position: fixed;
    left: 0px;
}


 #sidenav-main.show ~ .main-content,
 #sidenav-main.show ~ .navbar-top{
    margin-left: 0 !important;
}

.main-content[page='preregister']{
    margin-left: 0 !important;
}

.scrollbar-inner{
    width: 100%;
}

 @media (max-width: 1440px){
    #sidenav-main {
        opacity: 1;
        display: flex;
        position: absolute;
    }
    #sidenav-main.show ~ .main-content,
        #sidenav-main.show ~ .navbar-top{
             margin-left: 240px !important; 
        }
    .navbar-top{
        margin-left: 0px;
    }

    .main-content{
        margin-left: 240px;
    }
    #sidenav-main.show{

        margin-left: 240px !important;

    } 

    .scrollbar-inner{
        width: 100%;
    }

} 

@media (min-width: 1440px){
    #sidenav-main {
        opacity: 1;
        display: flex;
        position: absolute;
    }
    #sidenav-main.show ~ .main-content{
            margin-left: 240px; 
        }

     #sidenav-main.show ~ 

    .navbar-top{
        margin-left: 0px;
    }

    .main-content{
        margin-left: 240px;
    }

    #sidenav-main.show{

        left: -300px;

    } 


} 


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }